@{
    if (Model != null)
    {
        ViewBag.Title = Model.Title;
    }
    else
    {
        ViewBag.Title = "Welcome to CherryTomato";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="width: 80%; margin: .5em auto; text-align: left;">What is CherryTomato?</h3>
<p style="width: 80%; margin: 0 auto; line-height: 2em;">CherryTomato is a library created sing C# to provide an easy method to interact with the
JSON api provided by <a href="http://RottenTomatoes.com">RottenTomatoes</a>. The library does the heavy lifting of <b>fetching</b>
and <b>parsing</b> the JSON formatted movie information from the RottenTomatoes website so you all you need to concentrate on is how
to implement the data into your project.</p>

@if (@Model != null)
{
    <h3>@Model.Year</h3>
    <div id="MoviePoster">
        <img src="@Model.Posters.First().Url" alt="@Model.Posters.First().Type" />
    </div>
}