@{
    ViewBag.Title = "Movie Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title = string.Empty;
    TomatoHelper.Initialize(System.Configuration.ConfigurationManager.AppSettings["ApiKey"]);
}
<div id="Results">
<form action="" method="post">
<input type="text" name="q" value="" />
<input type="submit" name="btnSubmit" value="Search" />
</form>   

@TomatoHelper.TitleSearch()

</div>
