@{
    ViewBag.Title = "Movie Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title = string.Empty;
    CherryTomato.Entities.MovieSearchResults movie = null;
    
    if (Request["q"] != null)
    {
        title = Request["q"];
        var tomato = new CherryTomato.Tomato(System.Configuration.ConfigurationManager.AppSettings["ApiKey"]);
        movie = tomato.FindMoviesByQuery(title);
    }
    
    var grid = new WebGrid(movie, canPage: false);
}
<div id="Results">
<form action="" method="post">
<input type="text" name="q" value="" />
<input type="submit" name="btnSubmit" value="Search" />
</form>   

@if (movie != null)
{   
    @grid.GetHtml()                                
}
</div>
