body
{
	font-size: 75%;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	color: #232323;
	background-color: #FDEDD0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#navigation ul
{
	width: 85%;
	margin: .5em auto 0 auto;
	border-bottom: 1px solid red;
	height: 3em;
}

#navigation ul li
{	
	display: block;
	float: left;
	text-align: center;
	margin: 0;
	font-weight: bold;
}

#navigation ul li a
{
	display: inline-block;
	width: 7em;
	color: #fff;
	padding: .5em 1.5em;	
	text-decoration: none;
	background-color: #d0b080;
	color: #fff;
	margin: 0 .2em;
	border-top: solid 1px #FDEDD0;
	border-bottom: solid 1px #FDEDD0;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#navigation ul li a:hover
{
	background-color: #e0d0a0;
}

#page
{
	max-width: 80%;
	min-width: 400px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	margin: 0 auto;
	padding: 1.5em;
	background-color: White;
	min-height: 45em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}

#Title
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 40px;
	margin-left: 1.3em;
	color: #FF634D;
}

#SubTitle
{
	font-weight: bold;
	font-size: 20px;
	margin: 0 auto;	
}


#TomatoImg
{
	position: relative;
	float: left;
	top: -75px;
	left: -40px;
	z-index: 100;
	margin: 0;
	padding: 0;
	height: 100px;
}