body
{
	font-size: 75%;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	color: #232323;
	background-color: #FDEDD0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#navigation ul
{
	width: 85%;
	margin: .5em auto 0 auto;
	border-bottom: 1px solid red;
	height: 3em;
}

#navigation ul li
{	
	display: block;
	float: left;
	text-align: center;
	margin: 0;
	font-weight: bold;	
	border-radius: 10px;
}

#navigation ul li a
{
	display: inline-block;
	width: 7em;
	color: #fff;
	padding: .5em 1.5em;	
	text-decoration: none;
	background-color: #d0b080;
	color: #fff;
	margin: 0 .2em;
	border-top: solid 1px #FDEDD0;
	border-bottom: solid 1px #FDEDD0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px gray;
}

#navigation ul li a:hover
{
	background-color: #e0d0a0;
}

#page
{
	max-width: 80%;
	width: 80em;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	margin: 0 auto;
	padding: 1.5em;
	background-color: White;
	min-height: 45em;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
}

#Title
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 40px;
	margin-left: 1.3em;
	color: #FF634D;
}

#SubTitle
{
	font-weight: bold;
	font-size: 20px;
	margin: 0 auto;	
}


#TomatoImg
{
	position: relative;
	float: left;
	top: -75px;
	left: -40px;
	z-index: 100;
	margin: 0;
	padding: 0;
	height: 100px;
}

.MovieSearchTable
{
	margin: .5em auto;
}

.MovieSearchTable tr
{
	margin: 0;
	padding: 0;	
}

.MovieSearchTable tr td
{
	margin: 0;
	vertical-align: text-top;
	text-align: center;
	width: 10em;
	padding: .3em;
	border-bottom: 2px solid gray;
}

.MovieSearchRow
{	
	padding: 0;
	margin: 0;
}

.MovieSearchAlt
{
	background-color: #Ffffef;
}

.display-label
{
	font-weight: bold;
	padding: .5em;
	margin: .1em 0;
	width: 25%;
	float: left;
	background-color: tan;
	color: White;
}

.display-field
{
	color: Red;	
	margin: .1em 0;
	width: 66%;
	padding: .5em;
	float: right;
	max-height: 10em;
	overflow: auto;
}

.MovieInfoContainer
{
	width: 72%;
	float: left;	
}

.MovieInfoImgContainer
{
	float: right;
	box-shadow: 0 0 3px 3px gray;
}

.fieldset
{
	padding: .85em; 
	width: 90%; 
	margin: 0 auto;
	background-color: #cfdfef;
	border: 1px solid gray;
	height: 35em;	
	border-radius: 5px;
}

.fieldset_container
{
	padding: .5em;
	background-color: White;
	box-shadow: 0 0 3px 3px gray;
	border-radius: 5px;
	margin: 0 auto;
	width: 90%;
	height: 80%;
	overflow: auto;
}